<section class="wrapper contact__us grid-lines-animation" data-action="height-contact" id="contact-section" data-bg="black">
		<div class="section__sells h-100">
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>
			<div class="horisontal-line"></div>

			<div class="horisontal-line square-line1"></div>
			<div class="horisontal-line square-line2"></div>
			<div class="horisontal-line square-line3"></div>
			<div class="horisontal-line square-line4"></div>
			<div class="horisontal-line square-line5"></div>
			<div class="horisontal-line square-line6"></div>
			
			<div class="vl-animation vertical-line "></div>
			<div class="vl-animation vertical-line2 "></div>
			<div class="vl-animation vertical-line3 "></div>
			<div class="vl-animation vertical-line4 "></div>
			<div class="vl-animation vertical-line5 "></div>
			<div class="vl-animation vertical-line6 "></div>
			<div class="vl-animation vertical-line7 "></div>
			<div class="vl-animation vertical-line8 "></div>
			<div class="vl-animation vertical-line9 "></div>
			<div class="vl-animation vertical-line10 "></div>
			<div class="vl-animation vertical-line11 "></div>
			<div class="vl-animation vertical-line12 "></div>
			<div class="vl-animation vertical-line13 "></div>
			<div class="contact-left">
				<h2 class="h2-title contact__title" data-fade="hide" data-stagger="content">Contact Us</h2>
				<div class="black-square bg-black" data-fade="hide" data-stagger="content">
					<div class="overflow">
						<div class="feedback__text" >
							<p class="mb-3">
								We're flexible with working hours and happy to work closely with any existing freelancers you work with.
							</p>
							<p class="mb-3">
								Feel free to share your project details with us so we could provide you a quick estimate and timing of implementation or just ask for any advice.
							</p>
							
						</div>
					</div>
				</div>
				<div class="mail__title" data-fade="hide">
					<div class="mail__link" data-stagger="content">
						<a href="mailto:contact@sbase.team">
							<i class="fas fa-envelope"></i>
							contact@sbase.team
						</a>
					</div>
					<div class="mail__control" data-stagger="content">
						<a href="#hero-section" class="top"  data-gotoslide="1">
							<div class="svg-container ">
							<svg class="svg-round" width="100%" height="100%" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg">
							  <circle class="anim svg-round-bar-contact" r="88" cx="90" cy="90" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
							</svg>
							</div>
							<span class="fade-in-hide"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="contact-right">
				<div class="form-wrapper">
					<form class="contact-form w100" method="POST" data-fade="hide">
						<div class="input-wrapper z-index10" data-stagger="content">
							<div class=" form__select-row " >
								<div class="select__option-first w100 df" >
									<!-- class font24 needed to fix problem with font. letter "c" in uppercase has bug -->
									<p class="input-palceholder"><span class="font24">c</span>ontact method</p>
								</div>
								<div class="select__option-row" data-stagger="content">
									<label class="w100 df select__option">
										<input type="radio" name="contactMethod" class="displ-none" value="email">
										<p >Email</p>
									</label>
									<label class="w100 df select__option">
										<input type="radio" name="contactMethod" class="displ-none" value="skype">
										<p >Skype</p>
									</label>
									<label class="w100 df select__option">
										<input type="radio" name="contactMethod" class="displ-none" value="telegram">
										<p>Telegram</p>
									</label>
									<label class="w100 df select__option">
										<input type="radio" name="contactMethod" class="displ-none" value="facebook">
										<p >Facebook</p>
									</label>
									<label class="w100 df select__option">
										<input type="radio" name="contactMethod" class="displ-none" value="slack">
										<p >Slack</p>
									</label>

								</div>
								
							</div>
						</div>
						<div class="input-wrapper w100" data-stagger="content">
							<label >
								<input type="text" name="userName" class="input-field" placeholder="Name">
							</label>
						</div>
						<div class="input-wrapper w100" data-stagger="content">
							<label >
								<input type="email" class="input-field" placeholder="E-mail">
							</label>
						</div>
						<div class="input-wrapper w100" data-stagger="content">
							<label >
								<textarea class="input-field" name="message" placeholder="Massage"></textarea>
							</label>
							<label class="file-upload">
								<input type="file" multiple name="file">
							</label>
						</div> 
						<div class="w100" data-stagger="content">
							<button class="submit-btn w100">Submit</button>
						</div>
					</form>
				</div>
			</div>
			</div>
		</div>
		<div class="social ma mobile-vis mb-2 mt-2">
			<a href="#" class="social-link" data-stagger="content">
				<i class="fab fa-telegram-plane"></i>
			</a>
			<a  href="#" class="social-link" data-stagger="content">
				<i class="fab fa-skype"></i>
			</a>
			<a  href="#" class="social-link" data-stagger="content">
				<i class="fas fa-envelope"></i>
			</a>
		</div>	
</section>