<section class="wrapper fedback grid-lines-animation" data-action="height-fedback" id="feedback-section" data-bg="black">
	<div class="section__sells h-100">
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>
		<div class="horisontal-line"></div>

		<div class="mobile-hid horisontal-line"></div>
		<div class="mobile-hid horisontal-line"></div>
		<div class="mobile-hid horisontal-line"></div>

		<div class="horisontal-line square-line1"></div>
		<div class="horisontal-line square-line2"></div>
		<div class="horisontal-line square-line3"></div>
		<div class="horisontal-line square-line4"></div>
		<div class="horisontal-line square-line5"></div>
		<div class="horisontal-line square-line6"></div>

		<div class="vl-animation vertical-line "></div>
		<div class="vl-animation vertical-line2 "></div>
		<div class="vl-animation vertical-line3 "></div>
		<div class="vl-animation vertical-line4 "></div>
		<div class="vl-animation vertical-line5 "></div>
		<div class="vl-animation vertical-line6 "></div>
		<div class="vl-animation vertical-line7 "></div>
		<div class="vl-animation vertical-line8 "></div>
		<div class="vl-animation vertical-line9 "></div>
		<div class="vl-animation vertical-line10 "></div>
		<div class="vl-animation vertical-line11 "></div>
		<div class="vl-animation vertical-line12 "></div>
		<div class="vl-animation vertical-line13 "></div>
		<h2 class="h2-title feedb__title" data-fade="hide" data-stagger="content">Feedback</h2>
		<div class="feedback__control">
			<div class="left" data-direction="left" data-stagger="content">
				<span class="fade-in-hide"></span>
			</div>
			<div class="right active" data-direction="right" data-stagger="content">
				<div class="svg-container ">
					<svg class="svg-round" width="100%" height="100%" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg">
						<circle class="anim svg-round-bar-feedback" r="88" cx="90" cy="90" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
					</svg>
				</div>
				<span class="fade-in-hide"></span>
			</div>
		</div>
			<!-- separate-col needed just for calculate width of feedback__slider element -->
		<div class="separate-col" id="sp-col"></div>
		<div class="feedback__slider " data-fade="hide">
			<div class="feedback__item " >
				<div class="black-squre" data-stagger="content">
					<div class="overflow">
						<p class="feedback__text"  data-stagger="content">
									Yana is good at what she does, and is very easy to communicate with. I will hire her for more projects in the future.
						</p>
					</div>
				</div>
				<div class="feedback__hero ">
					<div class="hero-name"  data-stagger="content">
						<h3 class="h3-title">David Deutch 1</h3>
						<p class="f-reg">CEO at "Cody Drug"</p>
					</div>
					<div class="feedback__face"  data-stagger="content">
						<img src="img/david.png">
					</div>
				</div>
			</div>
			<div class="feedback__item " >
				<div class="black-squre" data-stagger="content">
					<div class="overflow">
						<p class="feedback__text"  data-stagger="content">
									Yana is good at what she does, and is very easy to communicate with. I will hire her for more projects in the future.
						</p>
					</div>
				</div>
				<div class="feedback__hero ">
					<div class="hero-name"  data-stagger="content">
						<h3 class="h3-title">David Deutch 2</h3>
						<p class="f-reg">CEO at "Cody Drug"</p>
					</div>
					<div class="feedback__face"  data-stagger="content">
						<img src="img/david.png">
					</div>
				</div>
			</div>
			<div class="feedback__item ">
				<div class="black-squre" data-stagger="content">
					<div class="overflow">
						<p class="feedback__text" data-stagger="content">
							Anton does the job and more. He doesn't just execute, he thinks with and expands on the assignment. It's a rare trait and for that reason I will definitely work with him again.Anton does the job and more. He doesn't just execute, he thinks with and expands on the assignment. It's a rare trait and for that reason I will definitely work with him again.</p>
					</div>
				</div>
				<div class="feedback__hero">
					<div class="hero-name" data-stagger="content">
						<h3 class="h3-title">David Deutch 3</h3>
						<p class="f-reg">CEO at "Cody Drug"</p>
					</div>
					<div class="feedback__face" data-stagger="content">
						<img src="img/simon.png">
					</div>
				</div>
			</div>
			<div class="feedback__item ">
				<div class="black-squre" data-stagger="content">
					<div class="overflow">
						<p class="feedback__text" data-stagger="content">
							Sergey achieved exactly what I was hoping for and he did the job very quick. Professional guy.
						</p>
					</div>
				</div>
				<div class="feedback__hero">
					<div class="hero-name" data-stagger="content" >
						<h3 class="h3-title">Mladen Stefanovc 4</h3>
						<p class="f-reg">CEO at “Insur blabla</p>
					</div>
					<div class="feedback__face" data-stagger="content">
						<img src="img/simon.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>