<div class="hamburger-menu">
	<div class="row w100 pt130">
		<div class="col-12 col-sm-9 col-lg-7 col-xl-6 df ma mb-2">
			<div class="hamburger__list">
				<div class="hamburger__item">
					<div class="f-extra-small number">01</div>
					<div class="hamburger__link">
						<a href="#hero-section" class="link" data-text="Home" data-gotoslide="1">
							<h2 class="h2-title">Home</h2>
						</a>
						<p class="f-small">
							Get back to beginning
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">02</div>
					<div class="hamburger__link">
						<a href="#trigger-section" class="link" data-text="Mission" data-gotoslide="2">
							<h2 class="h2-title">Mission</h2>
						</a>
						<p class="f-small">
							Read our mission statement
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">03</div>
					<div class="hamburger__link">
						<a href="#services-section" class="link" data-text="Services" data-gotoslide="3">
							<h2 class="h2-title">Services</h2>
						</a>
						<p class="f-small">
							Learn what we do
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">04</div>
					<div class="hamburger__link">
						<a href="#portfolio-section" class="link" data-text="Portfolio" data-gotoslide="4">
							<h2 class="h2-title">Portfolio</h2>
						</a>
						<p class="f-small">
							See our best works
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">05</div>
						<div class="hamburger__link">
							<a href="#skills-section" class="link" data-text="Skills" data-gotoslide="5">
								<h2 class="h2-title">Skills</h2>
							</a>
							<p class="f-small">
								Discover our technologies
							</p>
						</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">06</div>
					<div class="hamburger__link">
						<a href="#team-section" class="link" data-text="Team" data-gotoslide="6">
							<h2 class="h2-title">Team</h2>
						</a>
						<p class="f-small">
							Get to know our experts
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">07</div>
					<div class="hamburger__link">
						<a href="#feedback-section" class="link" data-text="Feedback" data-gotoslide="7">
							<h2 class="h2-title">Feedback</h2>
						</a>
						<p class="f-small">
							Seeour client's opinions
						</p>
					</div>
				</div>
				<div class="hamburger__item">
					<div class="f-extra-small number">08</div>
					<div class="hamburger__link">
						<a href="#contact-section" class="link" data-text="Contact" data-gotoslide="8">
							<h2 class="h2-title">Contact</h2>
						</a>
						<p class="f-small">
							Get in touch
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="social ma mobile-vis mb-2">
			<a href="#" class="social-link">
				<i class="fab fa-telegram-plane"></i>
			</a>
			<a  href="#" class="social-link">
				<i class="fab fa-skype"></i>
			</a>
			<a  href="#" class="social-link">
				<i class="fas fa-envelope"></i>
			</a>
		</div>	
	</div>
</div>