<div class="hero-slider__inner">
    <div class="hero-slider__item">
        <img src="<%= src%>" alt="">
        <div class="hero-slider__content">
            <h2 class="h1-title">
                <%= title %>
            </h2>
            <h2 class="h1-subtitle">
                <%= subtitle%>
            </h2>
        </div>
        <div class="hero-slider__content-bottom">
            <span><%= bottom_left %></span>
            <span><%= bottom_right %></span>
        </div>
    </div>
</div>